HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Временные файлы и каталоги системы
.DS_Store
Thumbs.db

# Лог-файлы
*.log
logs/

# Каталоги сборки Maven
build/

# Настройки IntelliJ IDEA
.idea/
*.iml
*.ipr

# Настройки Eclipse
.project
.classpath
.settings/
bin/

# Настройки VS Code
.vscode/

# Файлы конфигурации ОС
*.swp
*.swo

# Сгенерированные JAR и WAR файлы
*.jar
*.war
*.ear

# Секция для Spring Boot
### Spring Boot ###
/*.jar
/*.war
*.pid

# Локальные конфигурационные файлы
application-*.yml
application-*.yaml
application-*.properties

# Каталоги тестов
test-output/

# Каталоги для временных файлов и кэша
/.mvn/timing.properties
/.mvn/wrapper/maven-wrapper.jar

# Файлы среды Docker
docker-compose.override.yml
Dockerfile
compose.yaml
README.Docker.md
.dockerignore
